APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_ADDRESS=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_SUBJECT="Ihre Bestellung"

SHOP_BRAND="Grisu119 Foto"
SHOP_NAME="Foto-Shop"
SHOP_HOMEPAGEURL=http://test.ch
SHOP_SMALLIMAGESIZE=400
SHOP_IMAGESIZE=870