<form name="orderForm" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" translate="ORDER_FORM"></h4>
    </div>
    <div class="modal-body">
        <p translate="ORDER_FORM_TEXT"></p>
        <h4 translate="ORDER_FORM_HEADER"></h4>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputFirstName.$invalid }">
            <label for="inputFirstName" class="col-sm-2 control-label"><span translate="FORM_FIRSTNAME"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" ng-model="ctrl.person.firstname" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputLastName.$invalid }">
            <label for="inputLastName" class="col-sm-2 control-label"><span translate="FORM_LASTNAME"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputLastName" id="inputLastName" ng-model="ctrl.person.lastname" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputAddress.$invalid }">
            <label for="inputAddress" class="col-sm-2 control-label"><span translate="FORM_ADDRESS"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAddress" name="inputAddress" ng-model="ctrl.person.address" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputZip.$invalid }">
            <label for="inputZip" class="col-sm-2 control-label"><span translate="FORM_ZIP"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputZip" name="inputZip" ng-model="ctrl.person.zip" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputCity.$invalid }">
            <label for="inputCity" class="col-sm-2 control-label"><span translate="FORM_CITY"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCity" name="inputCity" ng-model="ctrl.person.city" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputPhone.$invalid }">
            <label for="inputPhone" class="col-sm-2 control-label"><span translate="FORM_PHONE"></span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPhone" name="inputPhone" ng-model="ctrl.person.phone" ng-required="true">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.inputEmail.$invalid }">
            <label for="inputEmail" class="col-sm-2 control-label"><span translate="FORM_EMAIL"></span></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" ng-model="ctrl.person.email" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRemark" class="col-sm-2 control-label"><span translate="FORM_REMARKS"></span></label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputRemark" name="inputRemark" ng-model="ctrl.person.remark"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span translate="FORM_PAYTYPE"></span></label>
            <div class="col-sm-10">
                <p type="text" class="form-control-static" translate="FORM_PAY_BILL"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': orderForm.agb.$invalid }">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox" style="text-align: left;">
                    <label>
                        <input type="checkbox" ng-model="ctrl.person.agb" name="agb" ng-required="true"> <span translate="FORM_AGB_AGREE"></span><br>
                        <a href="#agb" target="_blank" translate="AGB"></a>
                    </label>
                </div>
            </div>
        </div>

        <h3 translate="FORM_SUMMARY"></h3>
        <h4>{{ctrl.album.name}}</h4>
        <h5><span translate="FORM_FINISH"></span> <span>{{ctrl.finish}}</span></h5>
        <ul>
        <li ng-repeat="o in ctrl.orders"
             controller="ctrl">
            <span translate="FORM_FILE"></span>: {{o.photo}}, <span translate="FORM_FORMAT"></span>: {{o.size}}, {{o.piece}} <span translate="PIECE"></span>
            <span translate="FORM_FOR"></span> {{o.price}}
        </li>
        </ul>
        <b translate="FORM_SUMMARYPRICE"></b> <b translate="CURRENCY"></b> <b>{{ctrl.price}}</b>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="ctrl.cancel()" translate="CANCEL">Close</button>
        <button type="button" class="btn btn-primary"
                ng-click="ctrl.ok()" translate="FORM_SEND_ORDER"></button>
    </div>
</form>