<h2 translate="ORDER"></h2>
<p translate="ORDER_TEXT"></p>
<style>
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .checkbox {
        text-align: center;
    }
</style>
<form>
    <div class="form-inline">
        <select class="form-control" name="formatSelect" id="formatSelect" ng-change="ctrl.selectAllChanged()"
                ng-model="ctrl.all.size">
            <option value="-1">----</option>
            <option ng-repeat="size in ctrl.sizes" value="{{size.id}}">{{size.text}}</option>
        </select>
        <div class="input-group">
            <input type="number" class="form-control" aria-describedby="piece-addon" style="width: 75px;" ng-model="ctrl.all.piece" ng-change="ctrl.selectAllChanged()">
            <span class="input-group-addon" id="piece-addon" translate="PIECE"></span>
            <span class="input-group-addon" id="piece-addon2">CHF {{ctrl.all.price}}</span>
        </div>
        <button ng-click="ctrl.setOptions()" type="button" class="btn btn-default" translate="SET_VALUES"></button>
    </div>
</form>
<hr>
<form>
    <label class="radio-inline">
        <input type="radio" name="finishOption" id="radioGlossy" checked><span translate="GLOSSY"></span>
    </label>
    <label class="radio-inline">
        <input type="radio" name="finishOption" id="radioDull"><span translate="DULL"></span>
    </label>
    <div>
        <div class="row" ng-repeat="p in ctrl.photos" order-photo-element photo="p"
             controller="ctrl"></div>
    </div>
</form>
