<form class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" translate="ORDER_FORM"></h4>
    </div>
    <div class="modal-body">
        <p translate="ORDER_FORM_TEXT"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="ctrl.cancel()" translate="CANCEL">Close</button>
        <button type="button" class="btn btn-primary"
                ng-click="ctrl.ok()" translate="ORDER"></button>
    </div>
</form>