<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.close()">&times;</button>
    <h4 class="modal-title">Order #{{ctrl.order.id}}</h4>
</div>
<div class="modal-body">
    <b>Album:</b> <span>{{ctrl.order.album.name}} </span><br>
    <b>Customer:</b>
    <address style="white-space:pre;margin-bottom: 0;">    {{ctrl.order.firstname}} {{ctrl.order.lastname}}
        {{ctrl.order.street}}
        {{ctrl.order.zip}} {{ctrl.order.village}}
        {{ctrl.order.email}}</address>
    <b>Price:</b> <span>{{ctrl.order.price}} </span><br>
    <b>Finish:</b> <span>{{ctrl.order.finish}}</span>
    <hr>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th></th>
            <th>Size</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in ctrl.order.photos" photo-element photo="s"
            controller="ctrl"></tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.close()">Close</button>
</div>