<h2 style="float: left;">{{ctrl.album.name}}</h2>
<button style="float: right; position: relative; top: 19px;" type="button" class="btn btn-primary" ng-click="ctrl.order()" translate="ORDER"></button>

<style>
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        margin-bottom: 20px;
    }

    .checkbox {
        text-align: center;
    }

    .album-pag {
        text-align: center;
    }
</style>
<div class="album-pag">
<uib-pagination boundary-links="true" total-items="ctrl.totalPhotos" ng-model="ctrl.currentPage" items-per-page="6" ng-change="ctrl.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>
<div>
    <div class="row" ng-repeat="p in ctrl.currentPhotos" photo-row-element photos="p"
         controller="ctrl"></div>
</div>
